html
{
    background-color: #00000048;
    font-family: Fotales;
    font-weight: 600;
    height: max-content;
}

body
{
    border: thin groove #fbff00;
    border-radius: 25px;
    position: absolute;
    left: 0%;
    right: 0%;
}

header
{
    border: thin groove #00aeff;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    font-size: 64px;
    text-align: center;
    text-shadow: #00000060 4px 4px 2px;
}

footer
{
    border: thin groove #ff0000;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    font-size: 32px;
    text-align: center;
    text-shadow: #00000060 4px 4px 2px;
}

button
{
    border: thin groove #00000000;
    border-radius: 10px;
    color: #000000;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    text-shadow: #00000060 4px 4px 2px;
    width: 80px;
}

.gptsBtn button
{
    border: thin groove #ff000020;
    background-color: #ff000090;
    position: absolute;
    font-size: 20px;
    border-radius: 10px;
    right: 180px;
    top: 50px;
}

.gptsImg, .gptsImg img
{
    display: flex;
    overflow: hidden;
    border: thin groove #ff000030;
}

.waifuBtn button
{
    border: thin groove #00ff0020;
    background-color: #00ff0090;
    position: absolute;
    font-size: 20px;
    border-radius: 10px;
    right: 95px;
    top: 50px;
}

.waifuImg, .waifuImg img
{
    display: flex;
    overflow: hidden;
    border: thin groove #00ff0030;

}

.nsfwBtn button
{
    border: thin groove #0000ff20;
    background-color: #0000ff90;
    position: absolute;
    font-size: 20px;
    border-radius: 10px;
    right: 10px;
    top: 50px;
}

.nsfwImg, .nsfwImg img
{
    display: flex;
    overflow: hidden;
    border: thin groove #0000ff30;
}