html
{
    background-color: #00000048;
    font-family: Fotales;
    font-weight: 600;
    height: max-content;
}

img
{
    border-radius: 25px;
    box-shadow: #00000060 4px 4px 3px;
    margin: 10px;
    max-width: 512px;
    max-height: 512px;
    height: 512px;
}

body
{
    border-radius: 25px;
    position: absolute;
    left: 0%;
    right: 0%;
    background: linear-gradient(to bottom, #FF000060, #ff7f0030, #ffff0060, #00ff0030, #0000ff60, #4b008230, #9400d360);
}

header
{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    font-size: 64px;
    text-align: center;
    text-shadow: #00000060 6px 6px 3px;
}

footer
{
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    font-size: 32px;
    text-align: center;
    text-shadow: #00000060 4px 4px 3px;
}

button
{
    border: thick solid #00000000;
    border-radius: 10px;
    color: #000000;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    width: 80px;
}

.gptsBtn button
{
    border: thin solid #00000090;
    background-color: #ff000090;
    position: absolute;
    font-size: 20px;
    border-radius: 10px;
    right: 190px;
    top: 50px;
    box-shadow: #00000060 4px 4px 3px;
}

.gptsImg, .gptsImg img
{
    display: flex;
    overflow: hidden;
    border: thick solid #ff7f0030;
}

.waifuBtn button
{
    border: thin solid #00000090;
    background-color: #00ff0090;
    position: absolute;
    font-size: 20px;
    border-radius: 10px;
    right: 100px;
    top: 50px;
    box-shadow: #0000ff20 4px 4px 3px;
}

.waifuImg, .waifuImg img
{  
    display: flex;
    overflow: hidden;
    border: thick solid #ffff0060;

}

.nsfwBtn button
{
    border: thin solid #00000090;
    background-color: #0000ff90;
    position: absolute;
    font-size: 20px;
    border-radius: 10px;
    right: 10px;
    top: 50px;
    box-shadow: #00000060 4px 4px 3px;
}

.nsfwImg, .nsfwImg img
{
    display: flex;
    overflow: hidden;
    border: thick solid #00ff0030;
}